.ld-list>.ld-wrapper>.ld-main-content>.ld-title-button{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.ld-list>.ld-wrapper>.ld-main-content>.ld-title-button>h1{
    font-size: calc(var(--font-size-base) + 25px);
    font-weight: 800;
}


/* TABLE */
.ld-list>.ld-wrapper>.ld-main-content>.ld-wrapper-table{
    margin-top: 40px;
}
.ld-list>.ld-wrapper>.ld-main-content>.ld-wrapper-table>.ld-table{
    box-shadow: 0px 4px 4px black;
    border-radius: 20px;
    background-color: white;
}
.ld-list>.ld-wrapper>.ld-main-content>.ld-wrapper-table>.ld-table>.head{

}

.ld-list>.ld-wrapper>.ld-main-content>.ld-wrapper-table>.ld-table>.head>.row{
    display: grid;
    grid-template-columns: 2fr 1fr 200px;
}

.ld-list>.ld-wrapper>.ld-main-content>.ld-wrapper-table>.ld-table>.body{

}

.ld-list>.ld-wrapper>.ld-main-content>.ld-wrapper-table>.ld-table>.body>.row{
    display: grid;
    grid-template-columns: 2fr 1fr 200px;
}