.ld-login > .ld-wrapper{
    max-width: var(--ld-wrapper-sizing);
    margin: 0 auto;
}

/* HEADER */

.ld-login > .ld-wrapper > .ld-header{
    background-color: white;
    height: var(--ld-header-heigth);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: 0px 4px 6px black;
}

.ld-login>.ld-wrapper>.ld-header>.ld-wrapper-header-content{
    max-width: var(--ld-wrapper-sizing);
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.ld-login>.ld-wrapper >.ld-header>.ld-wrapper-header-content>.ld-wrapper-image{
    height: var(--ld-header-higth);
    padding: 25px 0;
}

.ld-login >.ld-wrapper>.ld-header>.ld-wrapper-header-content>.ld-wrapper-image>.ld-image{
    height: 100%;
}


/* MAIN CONTENT */
.ld-login > .ld-wrapper >.ld-main-content{
    margin-top: var(--ld-header-higth);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ld-login > .ld-wrapper >.ld-main-content>.ld-left-content{
    
    padding-top: 48px;
}
.ld-login > .ld-wrapper >.ld-main-content>.ld-right-content{
    background-color: red;
}