.ld-input{
    font-family: var(--font-family-base);
    font-size: calc(var(--font-size-base) +18px);
    border: none;
    background-color: var(--ld-color-gray-lighter);
    border-bottom: 1px solid var(--ld-color-gray-light);
    padding-bottom: 10px;
    outline: none;   
    transition: border-color 0.5s;
    width: 100%;
    margin-bottom: 20px;
}

.ld-input:focus{
    border-color: var(--ld-color-primary) ;
}

.ld-input::placeholder{
    color: var(--ld-color-gray-dark);
}